# First check is to lcoal to playbook directory 
# next is home directory ( if this then file must be called .ansbile.cfg)
#last check is in /etc/ansible/
#first match wins!

[defaults]
inventory = /home/student/ans/inv/dev/hosts
host_key_checking = no
record_host_keys= /dev/null
##config below create a .retry of any failed hosts
retry_files_enabled = False 
